﻿<html lang="en">
    <head>
        
        <title>Bookish</title>
        <link href="/site.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/book/addbook">Book manager (for librarian)</a>
                <!-- <a href="/book_list">See all books (for user)</a> -->
                <a href="/book/copies">See all copies (for user)</a>
                <a href="/book/checkout_book">checkout history</a>
                <a href="/members">members</a>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %} 
        </main>
    </body>
</html>

