{% extends "_base.html" %}
    {% block content %}
    <div class="greeting">
        <h1>Add and remove books here</h1>
    </div>
    <ul>
        <form class = "add-book-form" method = "post" action = "/book/addbook">
            <label for="title-input">Title</Title></label>
            <input id="title-input" type = "text" name = "title"/>
        
            <label for="author-input">Author</label>
            <input id="author-input" type = "text" name = "author"/>
        
             <label for="genre">Genre</label>
            <input id="genre" type = "text" name = "genre"/>


            <label for="release-date">Release Date</label>
            <input id="release-date" type = "int" name = "release_date"/>


            <button type="submit">Submit!</button>
        </form>
    </ul>
        
    <ul>
        <form method = "delete" action = "/books/remove">
            <label for="id">Book ID</label>
            <input id="id" type = "text" name = "id"/>
            <button type="delete">Delete</button>
        </form>
    </ul>

{% endblock %}

        
